<div class="footer">
    <div class="contain">
        <div class="col">
            <h1>ShoeStore</h1>
            <ul>
                <li>О нас</li>
                <li>Вакансии</li>
                <li>Бренд</li>
                <li>Реквизиты</li>
                <li>Информация для СМИ</li>
            </ul>
        </div>
        <div class="col">
            <h1>Товары</h1>
            <ul>
                <li>О товарах</li>
                <li>Качество</li>
                <li>Поставщики</li>
                <li>Гарантии</li>
            </ul>
        </div>
        <div class="col">
            <h1>Помощь</h1>
            <ul>
                <li>FAQ</li>
                <li>Как покупать</li>
                <li>Возврат</li>
                <li>Доставка</li>
                <li>Безопасность</li>
                <li>Связаться с нами</li>
            </ul>
        </div>
        <div class="col social">
            <h1>Социальные сети</h1>
            <ul>
                <li>
                    <a href="https://t.me/maxime_golovin"><img src="/assets/images/logos/Telegram_logo.svg" width="32" style="width: 32px;"></a>
                </li>
                <li>
                    <a href="https://vk.com/maxime_golovin"><img src="/assets/images/logos/VKLogo.svg" width="32" style="width: 32px;"></a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>