@import url(/src/theme/variables.less); //theme

#header {
    top: 0;
    position: sticky;
    background: transparent;
    backdrop-filter: blur(5px);
    padding: 0 10px 10px 20px;
    display:flex;
    flex-direction: row;
    z-index: 999;
}

#logo {
    cursor: pointer;
    color: @BlackText;
    h2{
        font: var(--tui-font-heading-2)
    }
}


#nav {
    color: @BlackText;
    justify-content: center;
    word-break: keep-all;
    display:flex;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
    width: 100%;
    flex:9;
    a{
        cursor: pointer;
        padding: 10px 20px 10px 20px;
        margin: auto 20px auto 20px;
        span{
            font:var(--tui-font-text-xl)
        }
    }
    a:hover{
        color: var(--tui-link);
        transition: 0.4s;
        -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
        -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
        box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    }
}

.profile:hover{
    color: var(--tui-link);
    transition: 0.4s;
    -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.profile{
    cursor: pointer;
    color: @BlackText;
    flex:1;
    padding: 10px 20px 10px 20px;
    margin: auto 20px auto 20px;
    span {
        font:var(--tui-font-text-xl)
    }
}