<div id="header">
    <div id="logo">
        <h2>ShoeStore</h2>
    </div>
    <nav id="nav">
        <a>
            <span>О нас</span>
        </a>
        <a>
            <span>Наши клиенты</span>
        </a>
        <a>
            <span>Связь</span>
        </a>
    </nav>
    <a class="profile" *ngIf="loggedIn;else unlogged">
        <tui-hosted-dropdown
        tuiDropdownAlign="center"
        tuiDropdownHover
        [tuiDropdown]="content"
        >
            <a class="dropdown-host" tuiHostedDropdownHost>
                <span>Личный кабинет</span>
            </a>
            <ng-template #content>
                <tui-data-list>
                    <a [routerLink]="['/client/info']" tuiOption><span>Профиль</span></a>
                    <a tuiOption><span>Option 2</span></a>
                    <a (click)="logout()" tuiOption><span>Выйти</span></a>
                </tui-data-list>
            </ng-template>
        </tui-hosted-dropdown>
    </a>
    <ng-template #unlogged>
        <a class="profile">
            <span [routerLink]="['/login']">Войти</span>
        </a>
    </ng-template>
</div>
<router-outlet></router-outlet>