<tui-carousel
    [duration]="5000"
    [draggable]="true"
    [itemsCount]="1"
    [(index)]="index"
>
    <ng-container *ngFor="let item of items;let i = index">
        <img
            *tuiItem
            alt=''
            draggable="false"
            class="item"
            src="/assets/images/{{ item }}"
            [class.item_active]="i === index + 1"
            width="100%"
            height="100%"
        />
    </ng-container >
</tui-carousel>
<tui-pagination
    size="s"
    class="pagination"
    [length]="items.length"
    [(index)]="index"
></tui-pagination>